
			@font-face
			{
				font-family: 'open_sanssemibold';
				font-weight: normal;
				font-style: normal;
				src: url('webfonts/Open/SemiBold/OpenSans-Semibold.woff2') format('woff2'),
					 url('webfonts/Open/SemiBold/OpenSans-Semibold.woff') format('woff'),
					 url('webfonts/Open/SemiBold/OpenSans-Semibold.ttf') format('truetype');
			}
			@font-face
			{
				font-family: 'open_sanssemibold';
				font-weight: normal;
				font-style: italic;
				src: url('webfonts/Open/SemiBold/OpenSans-SemiboldItalic.woff2') format('woff2'),
					 url('webfonts/Open/SemiBold/OpenSans-SemiboldItalic.woff') format('woff'),
					 url('webfonts/Open/SemiBold/OpenSans-SemiboldItalic.ttf') format('truetype');
			}
		
			@font-face {
				font-family: 'robotoblack';
				font-weight: normal;
				font-style: normal;
				src: 	url('webfonts/Roboto/Black/Roboto-Black.woff2') format('woff2'),
						url('webfonts/Roboto/Black/Roboto-Black.woff') format('woff'),
						url('webfonts/Roboto/Black/Roboto-Black.ttf') format('truetype');
			}
			@font-face {
				font-family: 'robotoblack';
				font-weight: normal;
				font-style: italic;
				src: 	url('webfonts/Roboto/Black/Roboto-BlackItalic.woff2') format('woff2'),
						url('webfonts/Roboto/Black/Roboto-BlackItalic.woff') format('woff'),
						url('webfonts/Roboto/Black/Roboto-BlackItalic.ttf') format('truetype');
			}
		
			@font-face
			{
				font-family: 'robotomedium';
				font-weight: normal;
				font-style: normal;
				src: 	url('webfonts/Roboto/Medium/Roboto-Medium.woff2') format('woff2'),
						url('webfonts/Roboto/Medium/Roboto-Medium.woff') format('woff'),
						url('webfonts/Roboto/Medium/Roboto-Medium.ttf') format('truetype');
			}
			@font-face
			{
				font-family: 'robotomedium';
				font-weight: normal;
				font-style: italic;
				src: 	url('webfonts/Roboto/Medium/Roboto-MediumItalic.woff2') format('woff2'),
						url('webfonts/Roboto/Medium/Roboto-MediumItalic.woff') format('woff'),
						url('webfonts/Roboto/Medium/Roboto-MediumItalic.ttf') format('truetype');
			}
		
			@font-face
			{
				font-family: 'robotoregular';
				font-weight: normal;
				font-style: normal;
				src: 	url('webfonts/Roboto/Regular/Roboto-Regular.woff2') format('woff2'),
						url('webfonts/Roboto/Regular/Roboto-Regular.woff') format('woff'),
						url('webfonts/Roboto/Regular/Roboto-Regular.ttf') format('truetype');
			}
			@font-face
			{
				font-family: 'robotoregular';
				font-weight: normal;
				font-style: italic;
				src: 	url('webfonts/Roboto/Regular/Roboto-Italic.woff2') format('woff2'),
						url('webfonts/Roboto/Regular/Roboto-Italic.woff') format('woff'),
						url('webfonts/Roboto/Regular/Roboto-Italic.ttf') format('truetype');
			}
			@font-face
			{
				font-family: 'robotoregular';
				font-weight: bold;
				font-style: normal;
				src: 	url('webfonts/Roboto/Regular/Roboto-Bold.woff2') format('woff2'),
						url('webfonts/Roboto/Regular/Roboto-Bold.woff') format('woff'),
						url('webfonts/Roboto/Regular/Roboto-Bold.ttf') format('truetype');
			}
			@font-face
			{
				font-family: 'robotoregular';
				font-weight: bold;
				font-style: italic;
				src: 	url('webfonts/Roboto/Regular/Roboto-BoldItalic.woff2') format('woff2'),
						url('webfonts/Roboto/Regular/Roboto-BoldItalic.woff') format('woff'),
						url('webfonts/Roboto/Regular/Roboto-BoldItalic.ttf') format('truetype');
			}
		